

body{
	padding:100px 100px;
}

h1
{

}
td{
	padding: 10px;
	text-align: center;
}

input
{
	width: 450px;
	border-radius: 7px 7px 7px 7px;

}

select
{
	border-radius: 7px 7px 7px 7px;
}

table{
	margin-top: 70px;
}


.error{
	text-align: left;
	margin-top: -18px;
	margin-left: 12px;
	font-size: 15px;
	color:red;

}